body {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  padding-bottom: 20vh;
}

main {
  padding-top: 7rem;
}

.title {
  font-size: 4rem;
  font-family: sans-serif;
}

.text {
  font-size: 2rem;
}

nav {
  display: flex;
  position: fixed;
  margin-top: 1rem;
  width: 100%;
  max-width: 600px;
  justify-content: space-around;
}

h4 {
  max-width: 600px;
  display: flex;
  position: fixed;
  margin-top: 110%;
  width: 100%;
  justify-content: space-around;
}

.page_switch_right {
  text-decoration: none;
  font-size: 1.5rem;
  background-color: rgb(192, 169, 223);
  border-radius: 1rem;
  padding: 0.5rem;
  color: white;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 12px 0 rgba(79, 86, 104, 0.342);
  margin-left: 30rem;
  opacity: 0.5;
}
.page_switch_right:hover {
  background-color: blueviolet;
  transition: all 0.2s ease-in-out;
  transform: rotate(5deg) scale(1.1);
  box-shadow: 0 6px 12px 2px rgba(63, 64, 66, 0.486);
}
.page_switch_left {
  text-decoration: none;
  font-size: 1.5rem;
  background-color: rgb(192, 169, 223);
  border-radius: 1rem;
  padding: 0.5rem;
  color: white;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 12px 0 rgba(79, 86, 104, 0.342);
  margin-right: 20rem;
  opacity: 0.5;
}
.page_switch_left:hover {
  background-color: blueviolet;
  transition: all 0.2s ease-in-out;
  transform: rotate(5deg) scale(1.1);
  box-shadow: 0 6px 12px 2px rgba(63, 64, 66, 0.486);
}

.headlink {
  transition: all 0.2s ease-in-out;
  background-color: rgb(168, 166, 166);
  color: rgb(245, 245, 245);
  font-size: 3rem;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 1rem;
  text-decoration: none;
  box-shadow: 0 4px 12px 0 rgba(79, 86, 104, 0.342);
}
.headlink:hover {
  background-color: rgb(75, 72, 72);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 6px 12px 2px rgba(63, 64, 66, 0.486);
  transform: rotate(5deg) scale(1.1);
}

.bloglist {
  display: inline-block;
  font-size: 2rem;
  background-color: rgb(163, 176, 190);
  color: rgb(0, 0, 0);
  border-radius: 1rem;
  padding: 1rem 1rem;
  text-decoration: none;
  box-shadow: 0 4px 12px 0 rgba(79, 86, 104, 0.342);
}
.bloglist:hover {
  background-color: rgb(156, 148, 148);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 6px 12px 2px rgba(63, 64, 66, 0.486);
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 4px 12px 0 rgba(54, 59, 71, 0.342);
}

.blog-link {
  display: inline-block;
  text-decoration: none;
  font-size: 2.5rem;
  background-color: rgba(160, 160, 160, 0.116);
  border-radius: 1rem;
  padding: 1rem 1.2rem;
  border: solid 2px transparent;
  transition: all 0.2s ease-in-out;
  transform-origin: left;
}
.blog-link * {
  color: black;
}
.blog-link p {
  opacity: 0.6;
  margin: 0;
}
.blog-link h5 {
  margin: 0;
  margin-bottom: 1rem;
}

.blog-link:hover {
  transform: rotate(-2.5deg) scale(1.1);
  border: solid 2px rgba(245, 245, 255, 0.719);
}

.Slink {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  transition: all 1s ease-in-out;
  transform-origin: center;
}
.Slink:hover {
  transform: rotate(-725deg) scale(1.3);
}

.link {
  display: block;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
  transform-origin: left;
}
.link:hover {
  transform: rotate(-2deg) scale(1.1);
}

.bigtext {
  font-family: sans-serif;
  font-size: 3rem;
}

.list {
  font-family: sans-serif;
  font-size: 2rem;
}
