.box {
  border-radius: 12px;
  box-shadow: 0 4px 12px 0 rgba(79, 86, 104, 0.342);
  transition: all 0.2s ease-in-out;
}
.box a {
  display: block;
  padding: 0.5rem 1rem;
}
.box:hover {
  transform: rotate(3deg) scale(1.1);
  box-shadow: 0 6px 12px 2px rgba(63 64 66 0.486);
}

.switchContainer {  
    max-width: 50ch;
  padding: 2rem 1rem;
  margin: 0 auto;
  display: flex;
  inset: auto 0 0 0;
  position: fixed;
  justify-content: space-between;
}
